.chat-section {
     width: 75%;
     float: right;
}

.messages-body {
     padding: 0 15px;
}

.blue-background {
     background-color: #ebf0fa;
}

.username {
     font-size: 2rem;
}

.messages-header {
     padding: 10px;
}

.timestamp {
     float: right;
}
.message-box {
     width: 1001px;
}
.user-message {
     padding: 10px;
}

.btn-send {
     color: black;
}
